# Dataset Olist (descargar desde Kaggle)
data/raw/
data/processed/

# Capas Delta Lake (generadas en ejecucion)
data/bronze/
data/silver/
data/gold/
data/serving/

# Checkpoints de Spark (locales)
checkpoints/

# Python
__pycache__/
*.py[cod]
.env
venv/
.venv/

# Databricks local
.databricks/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ngrok
ngrok.yml

powerbi/

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Datos generados al correr notebooks desde subdirectorios
notebooks/**/data/
